.Class__hero-main-div{
  background-image:url(../assets/images/class.jpg);
  background-size:cover;
  background-attachment: fixed;
  width:100%;
  height:30rem;  
  font-family:"DM Sans";
}
.Class__hero-main-div .hero-div{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  height:100%;
  margin-top:7rem;
}
.hero-div p{
  color: white;
  font-size:4rem;
  font-weight: bold;
}