.app__heroBanner{
    background-image:url(../assets/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height:50rem;  
}
.app__gymDetails{
    padding-left:10rem;
    padding-right:10rem;
}
.app__chooseUs{
    padding-left:10rem;
    padding-right:10rem;
}
.app__packagesDetails{
    padding-left:10rem;
    padding-right:10rem;
}
.app__footer{
    padding-left:10rem;
    padding-right:10rem;
    background-color: black;
}

