.signup__main-div{
    background-image: url(../assets/images/signin.jpg);
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"DM Sans";
}
.signup__form-div{
    background-color:#f5f5f5;
    box-shadow:10px 10px #D76810;
    width: 25rem;
    height:40rem;
    padding: 1rem;
    margin-top:8rem;
    margin-bottom:6rem;

}
.signup__form-div .p1{
    text-align: center;
    font-size:1.7rem;
    font-weight: bold;
    margin-top: 1rem;
}
.signup__form-div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:4rem;
}
.name-div{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
/* .name-div .input1{
    margin-right:2rem;
} */
.signup__form-div input{
    width:100%;
    height: 2rem;
    margin-bottom:1.5rem;
    border-width:0 0 0.1rem 0;
    border-color: #D76810;
    background-color: #f5f5f5;
    outline: none;
    padding-left:0.2rem;
}
.signup__form-div form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 1rem;
    margin-top:2rem;
    
}
.signup__form-div .p2{
    font-size:1.3rem;
    margin-top:1.5rem;
    font-weight: 700;
    padding: 0rem 1rem 0rem 1rem;
}
.signup__form-div button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    width:10rem;
    height:3rem;
    font-size:1rem;
    font-weight: 300;
    color: white;
    border:none;
    background-color: #D76810;
}
.signup__main-div .p3{
    text-align: center;
    margin-top:1.8rem;
}
.signup__main-div .p3 span{
    color: #D76810;
    cursor: pointer;
    
}
.signup__main-div .p3 span a , .signup__main-div .p3 span a:hover{
    text-decoration: none;
    color: #D76810;
}