.choose__main-dev{
    margin-top:6rem;
    display:flex;
}
.choose__explain-details{
    padding-right:6rem;
    margin-top:2rem;
}
.choose__explain-details .p1{
    color:#D76810;
    font-family:"DM Sans";
    font-weight: 600;
    font-size:1.3rem;
    margin-top:2rem;
}
.choose__explain-details .p2{
    font-family:"DM Sans";
    font-weight:900;
    font-size:2.5rem;
    line-height:3rem;
    margin-top:1rem;
}
.choose__explain-details .p3{
    font-family:"DM Sans";
    color:darkgray;
    margin-top:1rem;
}
.percentage{
    margin-top:1.3rem;
}

.choose__explain-details .container1{
    background-color: rgb(192, 192, 192); 
    width:100%; 
    

}
.percentage-div1 p, .percentage-div2 p, .percentage-div3 p{
    font-family:"DM Sans";
    font-size:1.3rem;
    font-weight:bold;
    padding-bottom:0.5rem;
}
.percentage-div1, .percentage-div2, .percentage-div3{
    margin-bottom:1.8rem;
}

.percentage1 { 
    background-color: black; 
    color: white;
    text-align: right;
    font-size:1rem;
    padding-right:0.2rem; 
} 
.percentage2{
    background-color:#D76810;
    color: white;
    text-align: right; 
    font-size:0.9rem;
    padding-right:0.2rem;  
}
.line1{
    width:80%
}
.line2{
    width:92%
}
.line3{
    width:86%
}
.choose__second-dev img{
    width:35rem;
    height:43.5rem;
    border-style: solid;
    border-color: black;
    
}

/* more details*/

.more-details{
    display: flex;
    margin-top:1.8rem;
}
.more-details .p4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:1rem;
}
.more-details .p4 p{
    padding-bottom:0.5rem;
    padding-left:1rem;
    color: darkgray;
    font-family:"DM Sans";
}

.first-div img, .second-div img{
    width:1rem;
    height:1rem;
}